@{ 
    ViewBag.Title = "Registo de Familias de Produtos"
}


<div id="registo">
    <section id="registo-cabecalho">
        <h1>@ViewBag.Title</h1>

    </section>
    <section id="registo-conteudo">
        <div class="row">
            <div class="box">
                <div id="cabecalho-grid" class="row">

                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <thead>
                                <tr>


                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>