@model List<StockControl.web.Models.GrupoProdutoModel>
@{ 
    ViewBag.Title = "Registo de Grupo de Produtos";
}

<style>
    #cabecalho-grid > thead > tr th:nth-child(2){
        width: 110px;
    }

    #grid-cadastro > thead > tr th:nth-child(3) {
        width: 200px;
    }

    #registo{
        width: 70%;
        margin: auto;
    }

    #registo-cabecalho{
        border-bottom: 1px #dddddd solid;
    }

    #registo-conteudo{
        margin-top: 20px;
    }

    #cabecalho-grid{
        margin-bottom: 20px;
    }
    

</style>


<div id="registo">
    <section id="registo-cabecalho">
        <h1>@ViewBag.Title</h1>

    </section>
    <section id="registo-conteudo">
        
         <div id="cabecalho-grid" class="row">
             <div class="col-md-12">
                  <a id="btn-incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus">Adicionar</i></a>
             </div>
         </div>

         <div class="row">
               <div class="col-md-12">

                    <table id="grid-cadastro" class="table table-bordered table-striped table-hover">
                        <thead>
                             <tr>
                                <th>Nome</th>
                                <th>Ativo</th>
                                <th>Acao</th>
                             </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                               {
                                 <tr>
                                    <td>@item.Nome</td>
                                    <td>@{var ativo = (item.Ativo ? "SIM" : "NAO"); }@ativo</td>

                                      <td>
                                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>
                                        <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
                                      </td>
                                 </tr>

                             }

                        </tbody>
                    </table>
         
               </div>
         </div>
</section>
</div>

@section Scripts{
    <script>
        $(document).on('click', '#btn-incluir', function () {
            alert('1')

        })
        .on('click', '.btn-alterar', function () {
              alert('2')
          })
        .on('click', '.btn-excluir', function () {
              alert('13')
        })

    </script>
    }